.rm_navigation-wrapper{
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    transition: 0.5s ease;
}
.rm_navigation-wrapper.scroll-on{
    background-color: white;
}
