.rm_navigation-wrapper{
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    transition: 0.5s ease;
}
.rm_navigation-wrapper.scroll-on{
    background: white !important;
    top: 0 !important;
    left: 0;
    width: 100% !important;
    transition: all 0.3s 
ease-in-out 0s !important;
}
