@media only screen and (max-width: 768px) {
    .custom-slideshow-container {
      height: 100vh;
      min-height: 100vh;
    }
    .slide-grid {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 20px;
      padding: 40px 0;
      display: flex;
      flex-direction: column-reverse;
    }
    .slide-subtext{
        font-size: 14px;
    }
    .prev-slide, .next-slide {
        height: 35px;
        width: 35px;
        font-size: 12px;
    }
    .slide-text {
      margin: 0 auto;
    }
    .slide-heading {
      font-size: 2rem;
    }
    .slide-product-image img {
      max-height: 250px;
    }

    .slide-dots-container {
      right: 50%;
      transform: translateX(50%);
      bottom: 20px;
    }
    .header__icon .svg-wrapper {
    width: 30px !important;
    height: 30px;
}
.header__icons{
    gap: 0px !important;
}
.rm_order-track{
    width: 65px;
}
.rm_order_text{
font-size: 10px;
}
  }